* {
	padding: 0px;
	margin: 0px;
}

#gameboard {
	text-align: center;
	margin: 20px;
}

.swatch {
	padding: 10px;
}

.container {
	width: 75px;
	height: 75px;
	margin: 0 auto;
	border-style: solid;
	border-color: black;
	padding: 5px;
}

button {
	margin: 10px;
}
