html {
	width: 1200px;
}

body {
	width: 80%;
}

h1 {
	color: red;
}

#mainBlock {
	width: 80%;
	float: left;
	clear: both;
	border-style: double;
	border-width: 3em;


}

em {
	color: cyan;
}

.myname {
	color: purple;
}

.sectionheader {
	background-color: #ffe;
	border-bottom-style: solid;
}